<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <springProperty scope="context" name="fastlogUrl" source="fastlog.url" defaultValue="localhost:9092"/>
    <springProperty scope="context" name="fastlogTopic" source="fastlog.topic" defaultValue="localhost:9092"/>
    <springProperty scope="context" name="logType" source="fastlog.logType" defaultValue="fastlog"/>

    <property name="LOG_PATH" value="logs/cache/filebeat"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.zmh.demo.filter.StdoutFilter" />
        <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers class="net.logstash.logback.composite.loggingevent.LoggingEventJsonProviders">
                <pattern>
                    <pattern>
                        {
                        "@timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger{40}",
                        "message": "%message",
                        "stack_trace":
                        "%exception{10}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>

        <!--  配置日志文件滚动存储策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/probe.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>20</MaxHistory>
            <maxFileSize>1GB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="GITHUB" class="com.github.danielwegener.logback.kafka.KafkaAppender">

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.zmh.fastlog.github.LogbackLayout" />
        </encoder>

        <topic>${fastlogTopic}</topic>
        <keyingStrategy
                class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
        <deliveryStrategy
                class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <!-- 请勿后移该项配置 -->
        <producerConfig>bootstrap.servers=${fastlogUrl}</producerConfig>
        <producerConfig>max.block.ms=0</producerConfig>
        <producerConfig>compression.type=lz4</producerConfig>
        <producerConfig>batch.size=1048576</producerConfig>
    </appender>

    <appender name="ASYNC_GITHUB" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>32768</queueSize>
        <appender-ref ref="GITHUB"/>
    </appender>

    <include resource="fastlog-base.xml" />

    <if condition='property("logType").contains("fastlog")'>
        <then>
            <root level="INFO">
                <appender-ref ref="FAST_LOG" />
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
        <else>
            <if condition='property("logType").contains("github")'>
                <then>
                    <root level="INFO">
                        <appender-ref ref="ASYNC_GITHUB" />
                        <appender-ref ref="STDOUT"/>
                    </root>
                </then>
                <else>
                    <root level="INFO">
                        <appender-ref ref="FILE"/>
                        <appender-ref ref="STDOUT"/>
                    </root>
                </else>
            </if>
        </else>
    </if>

</configuration>
