<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>


    <include resource="fastlog-base.xml" />


    <root level="INFO">
        <appender-ref ref="FAST_LOG"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
